@charset "utf-8";
body,
header,
footer,
nav,
aside,
article,
section,
main,
ol,
ul,
li,
a,
p,
div,
address,
div,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
table,
caption,
thead,
tbody,
th,
td,
dl,
dt,
dd,
input,
button,
select,
option,
textarea,
figure,
figcaption,
blockquote {
  margin: 0;
  padding: 0;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  border: 0;
}
a {
  text-decoration: none;
}
address,
em,
i {
  font-style: normal;
}
button,
fieldset,
select,
input {
  border: 0;
}
button {
  cursor: pointer;
}
legend,
caption,
hr {
  display: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0px;
}
.sr_only {
  display: block;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
